/C++test/cmake-build-debug/
untitled/CMakeLists.txt
untitled/main.cpp
untitled/.idea/misc.xml
untitled/.idea/modules.xml
untitled/.idea/untitled.iml
untitled/.idea/vcs.xml
untitled/.idea/workspace.xml
untitled/cmake-build-debug/CMakeFiles/clion-environment.txt
untitled/cmake-build-debug/CMakeFiles/CMakeOutput.log
untitled/cmake-build-debug/CMakeFiles/3.19.2/CMakeCCompiler.cmake
untitled/cmake-build-debug/CMakeFiles/3.19.2/CMakeCXXCompiler.cmake
untitled/cmake-build-debug/CMakeFiles/3.19.2/CMakeDetermineCompilerABI_C.bin
untitled/cmake-build-debug/CMakeFiles/3.19.2/CMakeRCCompiler.cmake
untitled/cmake-build-debug/CMakeFiles/3.19.2/CMakeSystem.cmake
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.c
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.exe
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdC/CMakeCCompilerId.obj
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.exe
untitled/cmake-build-debug/CMakeFiles/3.19.2/CompilerIdCXX/CMakeCXXCompilerId.obj
untitled/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeCache.txt
untitled/cmake-build-debug/CMakeFiles/CMakeTmp/CMakeLists.txt
